main {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
}

.opacity {
  opacity: 0.5;
  background-color: gray;
  height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.header-table {
  display: flex;
  justify-content: space-between;
}

.footer-table, span {
  margin-top: 1rem;
}

.footer-table {
  display: flex;
  justify-content: space-between;
}

.bloc-table {
  width: 70%;
}

.test:nth-child(2n -1) {
  background-color: #f9f9f9;
}

#search {
  border: 1px solid rgb(196, 192, 192);
  box-shadow: 0 2px 5px -2px gray;
  border-radius: 5px;
  margin-left: 0.5em;
}

select {
  margin-left: 5px;
  margin-right: 5px;
}

.address {
  margin-top: 10px;
}


.save {
  cursor: pointer;
  margin-top: 30px;
  background-color: rgb(0, 168, 255);
  color: white;
  border: none;
  width: 20%;
  height: 30px;
  border-radius: 10px;
}

h2 {
  background-color: rgb(0, 168, 255);
  color: white;
  margin-left: -30px;
  width: 50%;
  padding-left: 10px;
}

.modal {
  width: 30%;
  height: 100px;
}

.closeModal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  border-radius: 2rem;
  border: 1px solid black;
}

.modale-create-block {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form-left, .form-right {
  width: 40%;
}

.modale-create-block div select {
  width: 100%;
}

#create-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-modal-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.content-state, .content-department {
  width: 40%;
}

input {
  width: 100%;
}

input {
  border: none;
  border-bottom: 1px solid black;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 20%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px black;
  z-index: 100;
}

.modal-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cancel {
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  width: 7%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: black;
  cursor: pointer;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

tbody tr:first-child {
  border-top: 1px solid black;
}

tbody tr:first-child td:first-child{
  background-color: #f1f1f1;
}

tbody tr:last-child {
  border-bottom: 1px solid black;
}

th, td {
  padding: 10px;
}

.odd {
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
}